@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-festival{
    @include m.mediaQuery(768px){
        @include m.grid(2, 5rem);
    }
    padding: 5rem 0;
}

.contenido-festival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    @include m.mediaQuery(768px){
        margin-top: 0;
    }
    h2{
        margin-bottom: 2rem;
    }
    .fecha{
        color: v.$rosa;
        font-weight: 700;
    }
}