@use 'base/variables' as v;
@use 'base/mixins' as m;

.mensaje{
    margin-top: 5rem;
    .uptask{
        @include m.textoDegradado(v.$indigo);
    }
    .acciones{
        justify-content: center;
        font-weight: 700;
        a{
            color: v.$indigo;
        }
    }
}